[submodule "ros2_kortex_vision"]
	path = ros2_kortex_vision
	url = https://github.com/PickNikRobotics/ros2_kortex_vision
[submodule "src/ros2_kortex_vision"]
	path = src/ros2_kortex_vision
	url = https://github.com/PickNikRobotics/ros2_kortex_vision
[submodule "src/unseen_object_clustering_ros2"]
	path = src/unseen_object_clustering_ros2
	url = https://github.com/Tekkrez/unseen_object_clustering_ros2
[submodule "src/ROS-TCP-Endpoint"]
	path = src/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint
	branch = main-ros2
[submodule "src/ros2_aruco"]
	path = src/ros2_aruco
	url = https://github.com/Tekkrez/ros2_aruco
